@using WebUI.Models
@model GuitarsListViewModel

@{
    ViewBag.Title = "Guitars";
}

@foreach (var guitar in Model.Guitars)
{
    <div>
        <h3>@guitar.Name - @guitar.Author</h3>
        <p>@guitar.Description</p>
        <h4>@guitar.Price.ToString("# USD")</h4>
    </div>
    <hr />
}

<div>
    @Html.PageLinks(Model.PagingInfo, x=> Url.Action("List", new { page = x}))
</div>
 